body{
    background: #286482;
    background: -webkit-linear-gradient(to right, #286482, #09161c);
    background: linear-gradient(to right, #286482, #09161c);
    color: white !important;
}
tbody, p {
    color: white !important;  
}
hr{
    border-color: white;
}
p{
    color: white !important;
}
.my-nav-bar{
    width: 70%;
}
.product-not-found::placeholder{ 
    color: red;
}
.product-found::placeholder{
    color: gray;
}
#productUrl{
    width: 100%;
    height: 70%;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.change-color{
    color: black !important;
}